{{! comment}}
{{! コマンド：mustache data.yml tmp.mustache}}
- {{title}}
- {{score}}
{{! エスケープされる }}
- {{html}}
{{! エスケープ解除1 }}
- {{{html}}}
{{! エスケープ解除2 }}
- {{&html}}
{{! 区切り記号変更 }}
{{=<% %>=}}
- <% html %>
- <%& html %>
<%! 戻す %>
<%={{ }}=%>
- {{&html}}
